<div class="footer">
    <ul>
        <li class="footer_top">
            <a href="">OPPO论坛</a>
            <span>|</span>
            <a href="">OPPO乐园</a>
            <span>|</span>
            <a href="">OPPOR11</a>
            <span>|</span>
            <a href="">OPPOR9</a>
            <span>|</span>
            <a href="">登出</a>
        </li>
        <li class="footer_middle">
            ©  2005 - 2017 广东欧珀移动通信有限公司 版权所有
            (
            <a href="http://www.miitbeian.gov.cn/">粤ICP备08130115号-3</a>
            )
        </li>
        <li class="footer_bottom">
            <a href=""><img src="../../public/images/community/yanz.png"></a>
        </li>
    </ul>
</div>