<!-- 导航开始 -->
<header id="header" class="">
    <div class="head1">
       <ul class="heade_ul">
        <li class="li_le"><a href="/front/shequ">OPPO官网</a></li>
        <li class="li_le"><a>ColorOS</a></li>
        <li class="li_le"><a>社区APP</a></li>
        <li class="li_le"><a>OPPO R11</a></li>
        <div id="no_login">
            <li class="li_ri"><a href="" title="" >找回密码</a></li>
            <li class="li_ri"><a href="/front/register" title="" >注册</a></li>
            <li class="li_ri"><a href="/front/login" title="" >登录</a></li>
        </div>
        <div id="is_login">
            <li class="li_ri"><a href="" title="" id="exit">退出</a></li>
            <li class="li_ri"><a href="" title="" id="userName"></a></li>
        </div>
       </ul>
    </div>
</header>
<!-- /header -->
<div class="nav_container">
    <div id="nav">
       <div class="navlef">
          <a href="" title=""><img src="../../public/images/logo.png" ></a>
       </div>
       <div class="navrig">
         <ul>
            <li><a href="" title="" class="search"></a></li>
            <li><a href="" title="">动态</a></li>
            <li><a href="paike.html" title="">拍客</a></li>
            <li><a href="" title="">活动</a></li>
            <li><a href="huati.html" title="">话题</a></li>
            <li><a href="/front/shequ" title="" class="active">首页</a></li>
         </ul>
            <form action="" class="top_sear">
                <div class="jiantou"></div>
                <input type="text" placeholder="R11">
                <button class="btn_ser" type="button">搜索</button>
            </form>
       </div>
    </div>
</div>