<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>OPPOR11_前后2000万拍照更清晰_OPPO手机官方社区</title>
	<link rel="stylesheet" type="text/css" href="../../public/css/common.css">
	<script src="../../public/js/jquery.js" type="text/javascript" charset="utf-8" ></script>
	<script type="text/javascript" src="../../public/js/common.js"></script>
	<link rel="stylesheet" type="text/css" href="../../public/css/shequ.css">

	<script src="../../public/js/shequ.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<!-- 导航开始 -->
<%-include("../templete/head.html") %>
<!-- /header -->


<!-- 导航结束 -->
	<!-- <div class="img_container"><img src="" id="imgq"></div> -->
	<!-- <button class="btn">sss</button> -->
<div class="main">
<!-- 轮播图开始 -->
	<div class="banner">
        <ul class="img" style="left:-1080px">
            <li class="li-img">
                <a href="#">
                    <img src="../../public/images/community/lun01.jpg" alt="第1张图片">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../public/images/community/lun02.jpg" alt="第2张图片">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../public/images/community/lun03.jpg" alt="第3张图片">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../public/images/community/lun04.jpg" alt="第4张图片">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../public/images/community/lun05.jpg" alt="第5张图片">
                </a>
            </li>
        </ul>
        <ul class="num"></ul>
    </div>
    <!--轮播图结束  -->
    <!-- 帖子区域开始 -->
    <div class="mainBody_container clearfix">
    	<div class="mainRight">
			<div class="mainRight_title">热门话题</div>
			<div class="hot_topic">
				<p><a href="" class="top_data">#给地球拍张照1#</a></p>
				<p><a href="" class="top_data">#给地球拍张照2#</a></p>
				<p><a href="" class="top_data">#给地球拍张照3#</a></p>
				<p><a href="" class="top_data">#给地球拍张照4#</a></p>
				<p class="seemore"><a href="">查看更多</a></p>
			</div>
			<a href="./notePost" class="fatie"><i></i>发表帖子</a>
	    </div>
	    <div class="mainLeft_container">
			<div class="mainLeft">
				<div class="mainLeft_title">热门帖子</div>

				<!-- <ul class="tiezi"> -->
					<!-- <li class="userhead">
						<a href="">
							<img src="../../public/images/community/head01.jpg">
						</a>
					</li>
					<li class="username">
						<a href="">浮_笙</a>
						<span>Lv4.高中生O粉</span>
						<p>
							<a href=""></a>
							<span>
				<ul class="tiezi">
					<li class="userhead">
						<a href="">
							<img src="../../public/images/community/head01.jpg">
						</a>
					</li>
					<li class="username">
						<a href="">浮_笙</a>
						<span>Lv4.高中生O粉</span>
						<p>
							<a href=""></a>
							<span>
								<a href="" class="focus"><i></i>关注</a>
								<a href="" class="shoucang"><i></i>收藏</a>
								<a href="" class="jubao"><i></i>举报</a>
							</span>
						</p>
					</li>
					<li class="tz_time">17小时前 来自 OPPO R9s.这一刻 更清晰</li>
					<li class="tz_title">
						<p>
							<a href="" class="font_gre">#像电影一样生活#</a>
							<a href="" class="font_gre">#黄昏时刻#</a>
							<a href="" class="font_gre">#用手机记录生活#</a>
							最美是无意中的风景醉在旅途的那缕微光
						</p>
					</li>
					<li class="tz_pic">
						<a href="" class="img_list">
							<span><img src="../../public/images/community/01-1.jpg" alt=""></span>
							<span><img src="../../public/images/community/01-2.jpg" alt=""></span>
							<span><img src="../../public/images/community/01-3.jpg" alt=""></span>
						</a>
					</li>
					<li class="tz_res">
						<a href="" class="res-1"><i></i>123</a>
						<a href="" data-zan="res-2"><i></i>123</a>
					</li>
				</ul>				<a href="" class="focus"><i></i>关注</a>
								<a href="" class="shoucang"><i></i>收藏</a>
								<a href="" class="jubao"><i></i>举报</a>
							</span>
						</p>
					</li>
					<li class="tz_time">17小时前 来自 OPPO R9s.这一刻 更清晰</li>
					<li class="tz_title">
						<p>
							<a href="" class="font_gre">#像电影一样生活#</a>
							<a href="" class="font_gre">#黄昏时刻#</a>
							<a href="" class="font_gre">#用手机记录生活#</a>
							最美是无意中的风景醉在旅途的那缕微光
						</p>
					</li>
					<li class="tz_pic">
						<a href="" class="img_list">
							<span><img src="../../public/images/community/01-1.jpg" alt=""></span>
							<span><img src="../../public/images/community/01-2.jpg" alt=""></span>
							<span><img src="../../public/images/community/01-3.jpg" alt=""></span>
						</a>
					</li>
					<li class="tz_res">
						<a href="" class="res-1"><i></i>123</a>
						<a href="" class="res-2"><i></i>123</a>
					</li>
				</ul> -->
			</div>
		</div>
    </div>
    <!-- 帖子区域结束 -->
	<!-- 友情链接开始 -->
	<div class="frilink_container">
		<div class="frilink_title">友情链接</div>
		<div class="frilink">
			<a href="http://www.oppo.cn/search-thread?keyword=OPPO R11&page=1">OPPO R11</a>
			<a href="http://www.oppo.cn/search-thread?keyword=OPPO R9s&page=1">OPPO R9s</a>
			<a href="http://www.oppo.cn/list-11-1">Find7论坛</a>
			<a href="http://www.mumayi.com/">安卓游戏</a>
			<a href="http://www.romzj.com/">ROM之家</a>
			<a href="http://www.7to.cn/">奇兔刷机</a>
			<a href="http://www.romjd.com/">ROM基地</a>
			<a href="http://bbs.cnmo.com/">手机中国论坛</a>
			<a href="http://bbs.25pp.com/">苹果论坛</a>
			<a href="http://bbs.mfunz.com/">魔趣安卓论坛</a>
			<a href="http://bbs.ydss.cn/">移动叔叔</a>
			<a href="http://quan.ithome.com/">IT圈</a>
			<a href="http://bbs.uc.cn/">UC浏览器</a>
			<a href="http://mobile.hiapk.com/">安卓手机</a>
			<a href="http://bbs.coloros.com/">ColorOS社区</a>
		</div>
	</div>
	<!-- 友情链接结束 -->
</div>
<!-- footer -->
<%-include("../templete/footer.html") %>
</body>
</html>