<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>粉丝_O粉_OPPO手机官方社区</title>
    <!-- 加载公共资源 -->
    <%-include("../templete/zySource.html") %>
    <script src="../../public/js/zyGuanzhu.js"></script>
    <link rel="stylesheet" href="../../public/css/zyFans.css">
    <style type="text/css" media="screen">
        #dao .tie{
            border-right: #3FCAB8 4px solid;
            color: #3FCAB8;
        }
        #others_dao .tie{
            border-right: #3FCAB8 4px solid;
            color: #3FCAB8;
        }
    </style>
</head>
<body>
    <!-- header -->
    <%-include("../templete/head.html") %>
    <!-- /header -->
    <main class="cb clearfix">
        <p class="emm">
             <a href="/front/shequ" title="" class="first">OPPO社区<s></s></a>
             <span>关注<u></u><s></s></span>
        </p>

        <div class="bck">
            <!-- <a href="" title="" class="per"><img src="../images/14973085196928_avatar_big.jpg" alt=""></a> -->
            <h1>留研</h1>
            <h4>以后一个人走</h4>
        </div>
        <%-include('../templete/zyLeft.html')%>
        <div class="ahaha fr clearfix">
                <dt id='foucs'>粉丝(<span>0</span>)</dt>
                <div class="mainBody_container">
                    <div class="mainLeft_container">
                        <div class="mainLeft">
                            <ul class="tiezi-container">
                                <!-- <li class="tiezi">
                                    <a href="" class="userhead">
                                        <img src="../images/head01.jpg">
                                    </a>
                                    <h2>
                                        <a href="">孙小立家的孙小妹</a>
                                        <i class="female"></i>
                                        <span class="Group">Lv5.大专生O粉</span>
                                    </h2>
                                    <p>既来之则安之</p>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 帖子区域结束 -->
        </div>
    </main>
    <%-include('../templete/footer.html')%>
</body>
</html>
