<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>登录</title>
    <script src="../../public/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src='../../public/js/login2.js'></script>
    <link rel="stylesheet" type="text/css" href="../../public/css/login.css">
</head>
<body>
    <!-- <header id="header" class="">
        <div id="nav_header" class="w960">
            <ul class="clearfix">
                <li><a href="#">OPPO官网</a></li>
                <li><a href="#">OPPO社区</a></li>
                <li><a href="#">ColorOS</a></li>
            </ul>
        </div>
    </header><!-- /header -->

    <main id="content">
        <div id="login_box" class="container">
            <div class="main_box">
                <div class="login_header">
                    <div class="logo">

                    </div>
                    <h3 class="title">欢迎来到我的留言板系统</h3>
                </div>
                <div id="login_form">
                    <form  method="post" accept-charset="utf-8">
                        <div class="input_area">
                        <input type="text" name="username" value="" id="username">
                        <label class="placeholder">请输入手机号码/邮箱/用户名</label>
                        </div>
                        <div class="input_area">
                            <input type="password" name="pwd" value="">
                            <label class="placeholder">请输入账号密码</label>
                        </div>

                        <div id="error">
                            帐号不存在或密码错误
                        </div>
                        <a href="../html/forgetPas.html" class="errorLink">忘记密码</a>
                        <button type="submit" id="login_btn">登录</button>
                        <a id="register_btn" href="./register">注册账号</a>
                    </form>


                </div>
                <div id="login_info">
                    <div id="other">
                        <div class="other_head"></div>
                        <div class="other_links">
                            <a href="#" class="other_link qq"></a>
                            <a href="#" class="other_link wb"></a>
                            <a href="#" class="other_link zfb"></a>
                            <a href="#" class="other_link wx"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>© 2005 - 2017 东莞市永盛通信科技有限公司 版权所有 粤ICP备08130115号-1</p>
    </footer>
</body>
</html>